#start {
    text-decoration: none;
    width: 600px;
    height: 84px;
    top: 45px;
    margin: 0 auto;
    color: #d20536;
    font-family: "Kelson Sans";
    font-size: 105px;
    font-weight: 400;
    line-height: 24.86px;
    position: relative;
    text-transform: uppercase;
    z-index: 99999;
}

.rex {
    width: 600px;
    height: 120px;
    background-color: #bbd8f2;
    left: 256px;
    top: 885px;
    position: absolute;
    z-index: 9999;
    text-align: center;
    visibility: hidden;
}

#image {
    width: 1080px;
    height: 1080px;
}

#images {
    position: relative;
    top: -1080px;
    width: 1080px;
    height: 1080px;
    position: relative;
    visibility: hidden;
}

p {
    position: relative;
    font-size: 17px;
    text-align: center;
    top: 15px;
}

.nz {
    width: 230px;
    height: 55px;
    margin-left: 15px;
    margin-top: 15px;
    top: 90px;
    background: cornflowerblue;
    border-radius: 10px;
    cursor: pointer;
    z-index: 11111999;
    right: 20px;
}

.btn_box {
    position: absolute;
    width: 250px;
    height: auto;
    left: 0;
    bottom: -500px;
}


/* .sq1 {
    position: relative;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: url(../img/fish/f1.svg);
} */

.shag,
.vremy {
    color: #271c5e;
    font-family: "Kelson Sans";
    font-size: 38px;
    font-weight: 400;
    line-height: 50px;
}

#image div {
    width: 268px;
    height: 268px;
    background-image: url(../img/test_pics.png);
    background-repeat: no-repeat;
    position: absolute;
}

#counter {
    position: absolute;
    left: 717px;
    top: 10px;
    top: -170px;
}

#clock {
    position: absolute;
    left: 567px;
    top: 10px;
    top: -170px;
}

#time,
#hod {
    position: absolute;
    left: 10px;
    top: 62px;
    font-size: 52px;
}


/* #counter span,
#clock span {} */

.sq1 {
    background-position: 0 0;
}

.sq2 {
    background-position: 33% 0;
}

.sq3 {
    background-position: 66% 0;
}

.sq4 {
    background-position: 100% 0;
}

.sq5 {
    background-position: 0 33%;
}

.sq6 {
    background-position: 33% 33%;
}

.sq7 {
    background-position: 66% 33%;
}

.sq8 {
    background-position: 100% 33%;
}

.sq9 {
    background-position: 0 66%;
}

.sq10 {
    background-position: 33% 66%;
}

.sq11 {
    background-position: 66% 66%;
}

.sq12 {
    background-position: 100% 66%;
}

.sq13 {
    background-position: 0 100%;
}

.sq14 {
    background-position: 33% 100%;
}

.sq15 {
    background-position: 66% 100%;
}

.sq16 {
    background-position: 100% 100%;
}

#pos1 {
    top: 0;
    left: 0;
}

#pos2 {
    top: 0;
    left: 25%;
}

#pos3 {
    top: 0;
    left: 50%;
}

#pos4 {
    top: 0;
    left: 75%;
}

#pos5 {
    top: 25%;
    left: 0;
}

#pos6 {
    top: 25%;
    left: 25%;
}

#pos7 {
    top: 25%;
    left: 50%;
}

#pos8 {
    top: 25%;
    left: 75%;
}

#pos9 {
    top: 50%;
    left: 0;
}

#pos10 {
    top: 50%;
    left: 25%;
}

#pos11 {
    top: 50%;
    left: 50%;
}

#pos12 {
    top: 50%;
    left: 75%;
}

#pos13 {
    top: 75%;
    left: 0;
}

#pos14 {
    top: 75%;
    left: 25%;
}

#pos15 {
    top: 75%;
    left: 50%;
}

#pos16 {
    top: 75%;
    left: 75%;
}

.pointer {
    background-image: none !important;
    background-color: #fff;
}

.fiasco {
    transition: 2s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}